body {

  /* Full height */
  height: 10%;

  /* Center and scale the image nicely */
  /* background-position: center; */
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
:root[data-theme="dark"] body {
  /* The image used for dark mode */
  background-image: url("me_in_berlin_halftone_dark.png");

  }
:root[data-theme="light"] body {
  /* The image used for light mode */
  background-image: url("me_in_berlin_halftone_light.png");

  }
div.huge {
    font-size: 120px;
    text-align: center;
}
